<div class="ui grid">
  <div class="row">
    <span>Message count: {{messageService.messageCount}}</span>
  </div>
  <div class="twelve wide column">
    <div class="twelve wide row">
      <app-chat-message *ngFor="let message of messageService.messages" [chatMessage]="message">
      </app-chat-message>
    </div>
    <div class="row">
      <button class="ui tiny button" (click)="sendMessage(input.value)">Send</button>
      <input class="ui long input"  id="input" type="text" (keydown.enter)="sendMessage(input.value)" #input/>
    </div>
  </div>
  <div class="column">
    <app-userlist [usernames]="messageService.usernames" ></app-userlist>
  </div>
</div>


