<div class="ui grid" >
  <div class="twelve wide column">
    <div class="row">
      <input class="ui input" id="usernameInput" type="text" (keydown.enter)="login(usernameInput.value, passwordInput.value)" #usernameInput/>
    </div>
    <div class="row">
      <input class="ui input" id="passwordInput" type="text" (keydown.enter)="login(usernameInput.value, passwordInput.value)" #passwordInput/>
    </div>
    <div class="row">
      <button class="ui tiny button" (click)="login(usernameInput.value, passwordInput.value)">Login</button>
    </div>
    <div class="row">
      <button class="ui tiny button" (click)="router.navigate(['/register'])">Register</button>
    </div>
    <div class="row">
      <button class="ui tiny button" (click)="messageService.loginAsGuest()">Login as guest</button>
    </div>
  </div>

  <app-userlist class="column" [usernames]="messageService.usernames"></app-userlist>
</div>
